body {
  background-color: #000033;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #00ffcc;
  font-family: "Comic Sans MS", Verdana, Arial;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ff00ff;
  text-shadow: 2px 2px black;
  text-align: center;
}

a {
  color: #00ffff;
  font-weight: bold;
}

a:hover {
  background: yellow;
  color: black;
}

.nav {
  text-align: center;
  margin-bottom: 20px;
}

.box {
  max-width: 700px;
  margin: auto;
  background: rgba(0,0,0,0.6);
  border: 2px solid #ff00ff;
  padding: 20px;
}

small {
  color: #555;
}
